/*Navbar*/
/*Navbar*/
.navbarBody{
  width:100%;
  border:0px solid blue;
  padding-bottom:0px;
  background-color: #212E4C;
  box-sizing: border-box;
  top:0px;
  z-index: 1;
}

.listBody{
  list-style-type: none;
  margin-left: 100px;
  border:0px solid red;
  margin-bottom: 0px;
  margin-top: 0px;
  width:auto;
  display: inline-block;
  padding-left: 0px;
}

.list{
  border:0px solid green;
  display: inline-block;
  width:auto;
  height:auto;
  box-sizing: border-box;
 text-align: center;
}
.list:hover{
  background-color: red;
  border-radius: 5px;
}
.navBarlogoutButton{
  height: 40px;
  width: auto;
  background-color: #ADFF2F;
  display:inline-block;
  border:0px solid white ;

}
.navbarButton{
  height:40px;
  width:100px;
  background-color: inherit;
  border:0px solid black;
  border-radius: 7px 7px 7px 7px;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  font-size: 0.8em;
}
.navBarRight{
  display:inline-block;
  float:right;
}
.navBarIcon{
  width:20px;
  height:20px;
  border:0px solid red;
  background-color: white;
}
.navBarAccount{
  width:auto;
  height:40px;
  background-color: inherit;
  border:0px solid white;
  color: white;
}

/*Navbar Ends*/

.myContainer{
	border:0px solid black;
	height:83%;
	width:82%;
	margin-left:8%;
	position: relative;
	background-color: inherit
}
.footer{
	width:100%;
	height:10%;
	background-color: lightgrey;
	border:0px solid red;
	font-size: 0.8em;
}

/*Left Section*/
.leftBody{
	width:25%;
	height:100%;
	border:0px solid black;
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	top:0%;
	left:0%;
	background-color: white;
}
.leftBodyUl{
	list-style-type: none;
	padding-left: 0px;
	border:0px solid black;
	/*background-color: red;*/
}
.leftBodyUlLi{
	/*font-size: 0.8em;*/
	border:0px solid black;
	padding:15px;
}
/*Left Section ends*/

/*Middle Section*/
.middleBody{
	width:50%;
	height:100%;
	border:0px solid black;
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	left: 27%;
	background-color: white
}

.instituteProfile{

}
.addInstituteBlock{
	display: none;
}
.modifyInstituteBlock{
	display: none;
}
.allInstitutesBlock{
	display: none;
}
.changePasswordBlock{
	display: none;
}
/*Middle Section ends*/
