  {% load staticfiles %}
<html>
	<title>
		Login Page
	</title>
	<link href="LoginPage.css" rel="stylesheet">
	<script src="LoginPage.js" type="text/javascript"></script>
	<body style="padding:0px;margin: 0px;box-sizing: border-box;overflow: hidden">
		<!-- NavBar -->
		<nav class="navbarBody">
			<span style="color: white;font-size: 2em;">SANVAD</span>
		</nav>

		<!-- NavBar ends -->
		<!-- Middle Section -->
		<div class="middle">
			<center>
			<div class="middleEnvelope">
				<!-- Login Box -->
				<div class="loginBox">
					<span style="font-size: 1.5em;">Login</span>
					<hr>
					<br>
					<input type="text" placeholder="Enter Username" value="Harry" id="username" class="loginInput">
					<br><br>
					<input type="password" placeholder="Enter Password" value="Chhabra" id="password" class="loginInput">
					<br><br>
					<input type="button" value="LOGIN" onclick="login()" class="loginButton">
					<br>
					<br>
					<hr>
					<br>
				</div>
				<!-- Login Box ends -->
			</div>
		</center>
		</div>
		<!-- Middle Section ends -->
		<!-- Footer  -->
		<div class="footer">
			<br>
			<center>
				Developed by: <b>TEAM TRIANGULATION</b>
			</center>
		</div>
		<!-- Footer ends -->
	</body>
</html>
