<html>
	<title>
		Login Page
	</title>
	<link href="LoginPage.css" rel="stylesheet">
	<script src="LoginPage.js" type="text/javascript"></script>
	<body style="padding:0px;margin: 0px;box-sizing: border-box;overflow: hidden">
		<!-- NavBar -->
		<div class="navBar">
			<ul class="navBarUl">
				<li class="navBarUlLi">
					<!-- <button class="navBarUlLiButton">
						Button
					</button> -->
				</li>
				<li class="navBarUlLi navBarUlLiLogo">
					Team Triangulation
				</li>
			</ul>
		</div>
		<!-- NavBar ends -->
		<!-- Middle Section -->
		<div class="middle">
			<center>
			<div class="middleEnvelope">
				<!-- Login Box -->
				<div class="loginBox">
					Login 
					<hr>
					<input type="text" placeholder="Enter Username" value="Harry" id="username">
					<br><br>
					<input type="password" placeholder="Enter Password" value="Chhabra" id="password">
					<br><br>
					<input type="button" value="LOGIN" onclick="login()">
					<hr>
					Forget Password
					<br>
				</div>
				<!-- Login Box ends -->
				<!-- Signup Box -->
				<div class="signupBox">
					Signup
					<hr>
					<input type="text" placeholder="First Name">
					<br><br>
					<input type="text" placeholder="Last Name">
					<br><br>
					<input type="text" placeholder="Enter Password">
					<hr>
				</div>
				<!-- Signup Box ends -->
			</div>
		</center>
		</div>
		<!-- Middle Section ends -->
		<!-- Footer  -->
		<div class="footer">
			
		</div>
		<!-- Footer ends -->
	</body>
</html>