/*Navbar*/
.navbarBody{
  width:100%;
  border:1px solid blue;
  padding-bottom:0px;
  background-color: lightblue;
  /*max-height: 50px;*/
  overflow: hidden;
  box-sizing: border-box;
  /*position: fixed;*/
}

.listBody{
  list-style-type: none;
  margin-left: 0px;
  border:0px solid red;
  margin-bottom: 0px;
  width:auto;
  display: inline-block;
  padding-left: 0px;
}

.list{
  border:0px solid green;
  display: inline-block;
  width:auto;
  height:auto;
  box-sizing: border-box;
 text-align: center;
}
.logoutButton{
  height: 40px;
  width: auto;
  background-color: inherit;
  display:inline-block;
  border:0px solid white ;
}
.navbarButton{
  height:40px;
  width:100px;
  background-color: inherit;
  border:0px solid black;
  border-radius: 7px 7px 7px 7px;
  box-sizing: border-box;
  display: inline-block;
}
.navBarRight{
  display:inline-block;
  float:right;
}
.navBarIcon{
  width:20px;
  height:20px;
  border:0px solid red;
}
.navBarUsername{
  width:auto;
  height:40px;
  background-color: inherit;
  border:0px solid white;
}
.navBarProfileIcon{
  border:1px solid black;
  background-color: black;
  width:40px;
  height: 40px;
  display: inline-block; 
}
/*Navbar Ends*/
