{% load staticfiles %}
<html>
<title>
	User Profile Page
</title>
	<link href="{% static 'css/UserProfilePage.css' %}" rel="stylesheet">
	<script src="{% static 'js/UserProfilePage.js' %}" type="text/javascript"></script>
<body style="margin: 0px;background-color: WhiteSmoke">
	<!-- NavBar -->
		<nav class="navbarBody">
			<span style="color: white;font-size: 2em;">SANVAD</span>
			<ul class="listBody">
				<li class="list">
					<a href="{% url 'basicapp:index' %}"><button class="navbarButton">
						<img src="{% static 'Images/home3.png' %}" class="navBarIcon">
						<br>
						Home
					</button></a>
				</li>

			</ul>
		</nav>

		<!-- NavBar ends -->
	<!-- Container -->
	<div class="myContainer">
		<!-- Left Section -->
		<div class="leftBody">
			<br>
			<ul class="leftBodyUl">
				<li class="leftBodyUlLi" onclick="loadUserProfile()" style="background-color: lightgrey;">
					User Profile
				</li>
				<hr>
				<li class="leftBodyUlLi" onclick="loadModifyUser()">
					Modify Profile
				</li>
				<li class="leftBodyUlLi" onclick="loadChangePassword()">
					Change Password
				</li>
			</ul>
		</div>
		<!-- Left Section ends -->
		<!-- Middle Section -->
		<div class="middleBody">
			<br><br>
			<!-- Institute Profile -->
			<div class="userProfile" >
				<table style="border:0px solid black;width:100%">
					<tr>
						<td style="width:25%;">Username:</td>
						<td>{{ request.user.username }}</td>
					</tr>
					<tr>
						<td style="width:25%;">Profile Pic:</td>
						<td>
							<br>
								<!-- Image Link : User Profile Pic -->
								<img src="{% static 'Images/maleIcon.png' %}" style="width:100px;height:100px;">
								<br>
								<br>
						</td>
					</tr>
					<tr>
						<td style="width:25%;">Projects:</td>
						<td>
							<ol>
								{% for project in projects %}
								<li> <h3> {{ project.user_name }}</h3> </li>
								{{project.status}}
								<br>
								{{project.info}}
								<br>
								{{project.category}}
                <br>
								{{project.upload_date}}
								<br>
								{{project.expir_date}}
								<br>
								{{project.description}}
								{% empty %}
								<p>No Projects yet :)</p>
								{% endfor %}
							</ol>
						</td>
					</tr>
					<tr>
						<td style="width:25%;">Internships:</td>
						<td>
							<ol>

								{% for internship in internships %}

								<li><h2>{{ internship.user_name }}</h2></li>
									{{ internship.status }}
									<br>
									{{ internship.info }}
									<br>
									{{ internship.category }}
									<br>
									{{ internship.upload_date }}
									<br>
									{{ internship.expir_date }}
									<br>
									{{ internship.description }}
									{% empty %}
									<p>No Internships yet :)</p>
								{% endfor %}
								</ol>
						</td>
					</tr>
					<tr>
						<td style="width:25%;">Interests:</td>
						<td>
							<ol>

								{% for interest in interests %}

								<li>{{ interest.interest_name }}</li>

									<br>
									{% empty %}
									<p>No interests yet :)</p>
								{% endfor %}
								</ol>
						</td>
						<td>
						<form action="{% url 'basicapp:addUserInterest' %}" method="GET">
							<button type="submit">Add Interest</button>
						</form>
					</td>
					</tr>
				</table>
			</div>
			<!-- Institute Profile ends -->
			<!-- Modify User -->
			<div class="modifyUserBlock" style="display:none">
				<form>
					<table style="width:100%;">
						<tr>
							<td style="width:25%">Username:</td>
							<td><input type="text" placeholder="Username" style="width:74%;height:35px;font-size:15px;"></td>
						</tr>
						<tr>
							<td style="width:25%">User Profile Pic:</td>
							<td><input type="file" accept="image/*" style="width:74%;height:35px;font-size:15px;"></td>
						</tr>
						<tr>
							<td style="width:25%">Add description:</td>
							<td style="width:74%">
								<textarea></textarea>
							</td>
						</tr>
					</table>
					<br><br>
								<input type="button" value="Update" style="width:40%;background-color:lightgreen">
				</form>
				</div>
			<!-- Modify Institute end -->
			<!-- Change Password -->
			<div class="changePasswordBlock">
				<table>
					<tr>
						<td>Current Password:</td>
						<td><input type="password" placeholder="Current Password"></td>
					</tr>
					<tr>
						<td>New Password:</td>
						<td><input type="password" placeholder="New Password"></td>
					</tr>
					<tr>
						<td>
							<input type="button" value="Update">
						</td>
					</tr>
				</table>
			</div>
			<!-- Change Password ends -->
		</div>
		<!-- Middle Section ends -->
	</div>
	<!-- Container ends -->
	<!-- Footer  -->
		<div class="footer">
			<br>
			<center>
				Developed by: <b>TEAM TRIANGULATION</b>
			</center>
		</div>
		<!-- Footer ends -->
</body>
</html>
